.react-calendar {
  border-radius: 20px;
  box-shadow: #d8d8d8 1px 1px 30px;
  border: none;
  padding: 30px;
  height: 100%;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 1em 0.5em;
}
